
body{
    font-family: 'Merienda',;
margin: 0px;

} header{
    background-color: darkgreen;
    padding: 5px;
    color: whitesmoke;
    display: flex;
}
nav{
margin-left: 600px; 
   padding: 30px;
}
a{
    margin: 20px;
    border: 2px solid rgb(250, 240, 240);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: rgb(211, 202, 202);
    box-shadow: 5px 5px  15px black;
}

section{
    text-align: right;
}
